h2 Intro
p This is B2 Interactives Bones project.  It is a skeleton for the start of a project that uses:
ul
	li 
		h3 Node
		p Node is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient, perfect for data-intensive real-time applications that run across distributed devices.
		a(href="http://nodejs.com") http://nodejs.org
	li 
		h3 Grunt
		p Grunt is a Javascript task runner that automates a lot of the compiling processes.
		a(href="http://gruntjs.com") http://gruntjs.com
	li 
		h3 Bower
		p Power is a front-end package manager. It is used for installing things such as jquery, angular, bootstrap, etc.
		a(href="http://bower.io") http://bower.io
	li 
		h3 SASS
		p Sass is the most mature, stable, and powerful professional grade CSS extension language in the world. It is a css pre processor that gives you a lot more options, such as variables, mixins, functions, etc.
		p Language Reference:
			br
			a(href="http://sass-lang.com") http://sass-lang.com
		p Grunt Plugin Reference:
			br
			a(href="https://github.com/gruntjs/grunt-contrib-sass") https://github.com/gruntjs/grunt-contrib-sass
	li 
		h3 Grunt-Contrib-Imagemin
		p This is grunts image minimizer that has plenty of different options for you.
		a(href="https://github.com/gruntjs/grunt-contrib-imagemin") https://github.com/gruntjs/grunt-contrib-imagemin
	li 
		h3 Grunt-Contrib-JSHint
		p JSHint is a tool that helps to detect errors and potential problems in your JavaScript code.
		a(href="https://github.com/gruntjs/grunt-contrib-jshint") https://github.com/gruntjs/grunt-contrib-jshint
	li 
		h3 Grunt-Contrib-Uglify
		p This grunt plugin is used for minifying your Javascript files.
		a(href="https://github.com/gruntjs/grunt-contrib-uglify") https://github.com/gruntjs/grunt-contrib-uglify
	li 
		h3 Jade
		p Jade is one of many Node template engines. It uses a tabular syntax and decrease the amount of code needed.
		p Language Reference:
			br
			a(href="http://jade-lang.com") http://jade-lang.com
		p Grunt Plugin Reference:
			br
			a(href="https://github.com/gruntjs/grunt-contrib-jade") https://github.com/gruntjs/grunt-contrib-jade
	li 
		h3 Grunt-Contrib-Watch
		p This grunt plugin is used for watching all of your process and running them as you save files.
		a(href="https://github.com/gruntjs/grunt-contrib-watch") https://github.com/gruntjs/grunt-contrib-watch
