extends layouts/layout.jade

block title
	title B2 Interactives Bones

block content
	section.intro
		include components/intro.jade
	section.install
		include components/install.jade
	section.windows
		include components/windows.jade
	section.mac
		include components/mac.jade
		
		